{% load custom_tags %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center mt-4">
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href="?{% param_replace page=1 %}" class="btn btn-sm btn-outline-secondary">&laquo; Первая</a>
                    <a href="?{% param_replace page=page_obj.previous_page_number %}" class="btn btn-sm btn-outline-secondary">Предыдущая</a>
                {% endif %}

                <span class="current">
                    Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a href="?{% param_replace page=page_obj.next_page_number %}" class="btn btn-sm btn-outline-secondary">Следующая</a>
                    <a href="?{% param_replace page=page_obj.paginator.num_pages %}" class="btn btn-sm btn-outline-secondary">Последняя &raquo;</a>
                {% endif %}
            </span>
        </div>
    </ul>
</nav>